@model ShowArticleViewModel
@{
    string avatarUrl = Model.AuthorsAvatarUrl ?? ViewBag.defaultAvatarUrl;
}
<div class="article-cards">
    <article class="article-card background_dark">
        <a class="article-card__default-link" asp-area=""
        asp-controller="Articles" asp-action="Index" asp-route-id="@Model.Id"></a>
        <h3 class="article-card__title">@Model.Title</h3>
        @if (Model.TitleImageUrl is not null)
        {
            <img class="article-card__image" src="~/images/@Model.TitleImageUrl" />
        }
        <p class="article-card__text">
            @Model.SubTitle
        </p>
        <div class="article-card__info">
            <div class="article-card__author">
                <img class="article-card__avatar" src="~/images/@avatarUrl" />
                <div class="article-card__name-and-date">
                    <div class="article-card__author-name">@(Model.AuthorsName ?? "Удаленный аккаунт")</div>
                    <div class="article-card__date">@Model.Date</div>
                </div>
            </div>
        </div>
    </article>
</div>