@using AvoskaIsReal.Domain
@using AvoskaIsReal.Service
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Identity
@inject IAuthorizationService AuthorizationService
@inject UserManager<User> UserManager
@model EditUserViewModel

@{
    if (ViewBag.deleteReturnUrl is null)
        ViewBag.deleteReturnUrl = "~/Home/Index";

    if (ViewBag.changePasswordReturnUrl is null)
        ViewBag.changePasswordReturnUrl = $"~/Users/Index?id={Model.Id}";
}

<main class="background_light page padding-horizontal">
    <h2 class="title_2">Редактировать профиль</h2>
    <form class="form" method="post" name="user-form" enctype="multipart/form-data"
        asp-controller="Users" asp-action="Edit">
        <div asp-validation-summary="All"></div>
        <input asp-for="Id" type="hidden"/>
        <div class="form__item">
            <label asp-for="Login" class="form__label">Логин</label>
            <input asp-for="Login" type="text" />
        </div>
        <div class="form__item">
            <label asp-for="Email" class="form__label">Email</label>
            <input asp-for="Email" type="email" />
        </div>
        @* Todo: padding bottom применяется не во всех случаях *@
        <div class="form__item form__padding-bottom">
            <a class="link" asp-area="" asp-controller="Users"
                asp-action="ChangePassword" asp-route-userId="@Model.Id"
                asp-route-returnUrl="@ViewBag.changePasswordReturnUrl">
                Изменить пароль</a>
        </div>

        <!-- Role -->
        <div class="form__item">
            <label asp-for="Role" class="form__label">Роль</label>
            <select asp-for="Role" class="form__select" name="role">
                @* Todo: если пользователь не авторизован, некоторые роли не должны
                    отображаться в списке *@
                @* Отображаются только те роли, на установку которых авторизован
                    пользователь *@
                @foreach (string role in new [] { "moderator", "admin", "owner" })
                {
                    string roleStr = role switch {
                        "moderator" => "Модератор",
                        "admin" => "Админ",
                        "owner" => "Владелец",
                        _ => "Неизвестная роль"
                    };
                    User user = await UserManager.FindByIdAsync(Model.Id);
                    if ((await AuthorizationService.AuthorizeAsync(User, user,
                        new ChangeRoleAuthorizationRequirement(role))).Succeeded)
                    {
                        <option value="@role">
                            @roleStr
                        </option>
                    }
                    
                }
            </select>
        </div>
        
        <div class="form__item">
            <label asp-for="Career" class="form__label">Карьера</label>
            <textarea asp-for="Career"></textarea>
        </div>
        <div class="form__item">
            <label asp-for="About" class="form__label">О себе</label>
            <textarea asp-for="About"></textarea>
        </div>
        <div class="form__item form__padding-bottom">
            <label asp-for="Contacts" class="form__label">Контакты</label>
            <textarea asp-for="Contacts"></textarea>
        </div>

        @*Todo: если фото не выбрано, то остается прежний аватар*@
        <div class="form__item">
            <label asp-for="AvatarUrl" class="form__label">Фото профиля</label>
            <label class="inline-button inline-button_brown form__upload-button form__label"
                   for="file-upload">Выбрать файл</label>
            <input id="file-upload" name="avatarFile" type="file" />
        </div>
        @if (Model.AvatarUrl is not null) {
            <div class="form__item form__padding-bottom">
                <label class="form__label">Текущее фото профиля</label>
                <img class="form__current-user-image" src="~/images/@Model.AvatarUrl" />
            </div>
        }
        <div class="form__item">
            <button class="button form__submit" type="submit">Сохранить</button>
        </div>

        <div class="form__item">
            <a asp-area="" asp-controller="Users" asp-action="Delete"
                asp-route-id="@Model.Id" asp-route-returnUrl="@ViewBag.deleteReturnUrl"
                class="link">Удалить аккаунт</a>
        </div>
    </form>
</main>