@using System.Security.Claims
@model ShowAccountViewModel
@{
    string avatarUrl = Model.AvatarUrl ?? ViewBag.defaultAvatarUrl;

    if (ViewBag.deleteReturnUrl is null)
        ViewBag.deleteReturnUrl = "~/Home/Index";

    if (ViewBag.showLogOutButton is null)
        ViewBag.showLogOutButton = false;
}
<main class="background_light page padding-horizontal">
    <h2 class="title_2">
        <img class="avatar" src="~/images/@avatarUrl" />
        @Model.Login
    </h2>
    <div class="user-info">
        @if (Model.Career is not null)
        {
            <div class="user-info__field">
                <div class="user-info__title">Карьера</div>
                    <p>
                        @Model.Career
                    </p>
            </div>
        }
        @if (Model.About is not null)
        {
            <div class="user-info__field">
                <div class="user-info__title">О себе</div>
                <p>
                    @Model.About
                </p>
            </div>
        }

        @if (Model.Contacts is not null)
        {
            <div class="user-info__field">
                <div class="user-info__title">Контакты</div>
                <p>
                    @Model.Contacts
                </p>
            </div>
        }
    </div>

    @if (ViewBag.showEditLink)
    {
        <div class="user-info__field">
            <a class="link link_last" asp-area="" asp-controller="Users"
                asp-action="Edit" asp-route-id="@Model.Id"
                asp-route-returnUrl="@ViewBag.deleteReturnUrl">
                    Редактировать профиль</a>
        </div>
    }
    @if (ViewBag.showLogOutButton)
    {
        <form class="user-info__field" asp-area="" asp-controller="Account" asp-action="LogOut"
            method="post">
            <button class="inline-button inline-button_brown" type="submit">
                Выйти из аккаунта</button>
        </form>
    }
    
</main>