@using Microsoft.AspNetCore.Html
@model ShowArticleViewModel
@{
    ViewBag.isHeaderGray = true;

    bool hasTitleImage = Model.TitleImageUrl is not null;

    string avatarUrl = Model.AuthorsAvatarUrl ?? ViewBag.defaultAvatarUrl;
}

<main class="background_dark page light-color">
    <article class="article">
        <h2 class="title_2 article__title padding-horizontal">@Model.Title</h2>
        @if (hasTitleImage)
        {
            <div class="article__title-image blur-back-image padding-horizontal"
                style="background-image:url('@Model.TitleImageUrl')">
                <img class="blur-back-image__image" src="@Model.TitleImageUrl" />
            </div>
        }

        <div class="article__content padding-horizontal">
            @Html.Raw(Model.Text)
        </div>
        <div class="article__info padding-horizontal">
            @{
                string disabledLink = "pointer-events: none; cursor: default;";
            }
            <a asp-area="" asp-controller="Users" asp-action="Index"
                asp-route-id="@Model.AuthorsId"
                style="@(Model.AuthorsId is null ? disabledLink : "")">
                <img class="article__avatar" src="@avatarUrl" />
            </a>
            <div class="article__author-and-date">
                <a asp-area="" asp-controller="Users" asp-action="Index"
                    asp-route-id="@Model.AuthorsId" class="article__author link"
                    style="@(Model.AuthorsId is null ? disabledLink : "")">
                    @(Model.AuthorsName ?? "Удаленный аккаунт")
                </a>
                <div class="article__date">@Model.Date.ToLocalTime()</div>
            </div>
        </div>
    </article>
</main>