@model Article
@{
    string title;
    if (ViewBag.creatingNewArticle is not null && ViewBag.creatingNewArticle)
    {
        title = "Создать статью";
    } else
        title = "Редактировать статью";

    //if (ViewBag.returnUrl is null)
    //{
    //    ViewBag.returnUrl = "~/Articles/Index";
    //}
}

<script src="~/tinymce/public/jquery/jquery.min.js"></script>
<script src="~/tinymce/public/tinymce/tinymce.min.js"  referrerpolicy="origin"></script>
<script src="~/tinymce/public/tinymce-jquery/tinymce-jquery.min.js"></script>

<script src="~/js/configure-editor.js"></script>

<main class="background_light page padding-horizontal">
    <h2 class="title_2 brown-dark-color">@title</h2>
    <div asp-validation-summary="All"></div>
    
    <form class="form" method="post" name="article-form" asp-area="moderator"
        asp-controller="Articles" asp-action="Edit" asp-route-id=""
        asp-route-returnUrl="@ViewBag.returnUrl" enctype="multipart/form-data">
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="UserId" />
        <div class="form__item">
            <label class="form__label" asp-for="Title">Заголовок</label>
            <input type="text" asp-for="Title" />
        </div>
        <div class="form__item">
            <label class="form__label" asp-for="SubTitle">Краткое описание (подзаголовок)</label>
            <textarea asp-for="SubTitle"></textarea>
        </div>
        <div class="form__item form__padding-bottom">
            <label class="form__label" asp-for=CategoryName>Категория</label>
            <select class="form__select" asp-for="CategoryName">
                <option value="@Article.CATEGORY_THEORIES">
                    Доказательства и теории
                </option>
                <option value="@Article.CATEGORY_ABOUT_AVOSKA">Все об Авоське</option>
            </select>
        </div>
        <div class="form__item form__ck-editor form__padding-bottom">
            <textarea id="editor" asp-for="Text"></textarea>
        </div>
        <div class="form__item">
            <label class="form__label" asp-for="MetaKeywords">
                Meta keywords<span class="info-hint"
                                   data-info-hint="Ключевые слова, которые будут использованы поисковой системой">?</span>
            </label>
            <input type="text" asp-for="MetaKeywords" />
        </div>
        <div class="form__item form__padding-bottom">
            <label class="form__label" asp-for=MetaDescription>
                Meta description<span class="info-hint"
                                      data-info-hint="Небольшое описание статьи, которое будет использовано поисковой системой">?</span>
            </label>
            <textarea asp-for="MetaDescription"></textarea>
        </div>
        
        <div class="form__item">
            <label class="form__label">Изображение статьи</label>
            <label class="inline-button inline-button_brown form__upload-button form__label"
                   for="title-image-upload">Выбрать файл</label>
            <input id="title-image-upload" type="file" name="titleImage" />
        </div>
        @if (Model.TitleImageUrl is not null)
        {
            <div class="form__item form__padding-bottom">
                <label class="form__label">Текущее изображение статьи</label>
                <img class="form__current-user-image" src="@Model.TitleImageUrl" />
            </div>
        }
        <div class="form__item">
            <button class="button form__submit" type="submit">Сохранить</button>
        </div>

        @* Todo: Показывать, только если имеет ли пользователь право
        удалять статью *@
        <div class="form__item">
            <a class="link" asp-area="moderator"
                asp-controller="Articles" asp-action="Delete"
                asp-route-id="@Model.Id"
                asp-route-returnUrl="@ViewBag.returnUrl">Удалить статью</a>
        </div>
    </form>
</main>
